<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optional</key>
	<dict>
		<key>zoom</key>
		<string>&amp;z={zoom}</string>
		<key>center</key>
		<string>&amp;center={center}</string>
	</dict>
	<key>actions</key>
	<dict>
		<key>directionsFrom:to:mode:</key>
		<string>comgooglemaps://?saddr={from}&amp;daddr={to}&amp;directionsmode={mode}</string>
		<key>searchForLocation:</key>
		<string>comgooglemaps://?q={query}</string>
	</dict>
</dict>
</plist>
