<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<string>INKTweetSheet</string>
	<key>fallbackUrls</key>
	<dict>
		<key>showUserWithScreenName:</key>
		<string>https://twitter.com/intent/user?screen_name={{screenName}}</string>
		<key>showUserWithId:</key>
		<string>https://twitter.com/intent/user?user_id={{userId}}</string>
		<key>showTimeline</key>
		<string>http://twitter.com</string>
		<key>showMentions</key>
		<string>https://twitter.com/i/connect</string>
		<key>showDirectMessages</key>
		<string>https://twitter.com/i/connect</string>
		<key>sendDirectMessageToScreenName:</key>
		<string>https://mobile.twitter.com/{{screenName}}/messages</string>
		<key>searchFor:</key>
		<string>https://twitter.com/search?q={{query}}</string>
		<key>tweetMessage:</key>
		<string>https://twitter.com/intent/tweet?text={{message}}</string>
		<key>tweetMessage:inReplyTo:</key>
		<string>https://twitter.com/intent/tweet?text={{message}}&amp;in_reply_to={{replyId}}</string>
		<key>favoriteTweetWithId:</key>
		<string>https://twitter.com/intent/favorite?tweet_id={{tweetId}}</string>
		<key>retweetTweetWithId:</key>
		<string>https://twitter.com/intent/retweet?tweet_id={{tweetId}}?</string>
	</dict>
</dict>
</plist>
