<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>1Password</string>
	<key>actions</key>
	<dict>
		<key>openHttpsURL:</key>
		<string>ophttps://{{{url}}}</string>
		<key>openHttpURL:</key>
		<string>ophttp://{{{url}}}</string>
	</dict>
</dict>
</plist>
