<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Gmail</string>
	<key>optional</key>
	<dict>
		<key>subject</key>
		<string>&amp;subject={{subject}}</string>
		<key>messageBody</key>
		<string>&amp;body={{messageBody}}</string>
	</dict>
	<key>actions</key>
	<dict>
		<key>sendMailTo:</key>
		<string>googlegmail:///co?to={{recipient}}</string>
	</dict>
</dict>
</plist>
