<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Citymapper</string>
	<key>optional</key>
	<dict>
		<key>zoom</key>
		<string>&amp;zoom={{zoom}}</string>
		<key>center</key>
		<string>&amp;center={{center}}</string>
	</dict>
	<key>actions</key>
	<dict>
		<key>directionsFrom:to:mode:</key>
		<string>citymapper://directions?endcoord={{to}}&amp;startcoord={{from}}</string>
	</dict>
</dict>
</plist>
