<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchFor:near:</key>
	<string>comgooglemaps://?q=%@&amp;center=%@</string>
	<key>name</key>
	<string>Google Maps</string>
</dict>
</plist>
