<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optional</key>
	<dict>
		<key>callbackURL</key>
		<string>?callback_url={callbackURL}</string>
	</dict>
	<key>showTweetWithId:</key>
	<string>tweetbot://{activeUser}/status/{tweetId}</string>
	<key>showUserWithScreenName:</key>
	<string>tweetbot://{activeUser}/user_profile/{screenName}</string>
	<key>showUserWithId:</key>
	<string>tweetbot://{activeUser}/user_profile/{userId}</string>
	<key>showTimeline</key>
	<string>tweetbot://{activeUser}/timeline</string>
	<key>showMentions</key>
	<string>tweetbot://{activeUser}/mentions</string>
	<key>showDirectMessages</key>
	<string>tweetbot://{activeUser}/direct_messages</string>
	<key>searchFor:</key>
	<string>tweetbot://{activeUser}/search?query={query}</string>
	<key>tweetMessage:</key>
	<string>tweetbot://{activeUser}/post?text={message}</string>
	<key>tweetMessage:inReplyTo:</key>
	<string>tweetbot://{activeUser}/post?text={message}&amp;in_reply_to_status_id={replyId}</string>
</dict>
</plist>
