<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optional</key>
	<dict>
		<key>callbackURL</key>
		<string>&amp;callback_url={callbackURL}</string>
	</dict>
	<key>actions</key>
	<dict>
		<key>showTweetWithId:</key>
		<string>tweetbot://{activeUser}/status/{tweetId}?</string>
		<key>showUserWithScreenName:</key>
		<string>tweetbot://{activeUser}/user_profile/{screenName}?</string>
		<key>showUserWithId:</key>
		<string>tweetbot://{activeUser}/user_profile/{userId}?</string>
		<key>showTimeline</key>
		<string>tweetbot://{activeUser}/timeline?</string>
		<key>showMentions</key>
		<string>tweetbot://{activeUser}/mentions?</string>
		<key>showDirectMessages</key>
		<string>tweetbot://{activeUser}/direct_messages?</string>
		<key>showRetweets</key>
		<string>tweetbot://{activeUser}/retweets?</string>
		<key>showLists</key>
		<string>tweetbot://{activeUser}/lists?</string>
		<key>showListWithId:</key>
		<string>tweetbot://{activeUser}/list/{listId}?</string>
		<key>showFavorites</key>
		<string>tweetbot://{activeUser}/favorites?</string>
		<key>searchFor:</key>
		<string>tweetbot://{activeUser}/search?query={query}</string>
		<key>tweetSearchPage</key>
		<string>tweetbot://{activeUser}/search?</string>
		<key>tweetMessage:</key>
		<string>tweetbot://{activeUser}/post?text={message}</string>
		<key>tweetMessage:inReplyTo:</key>
		<string>tweetbot://{activeUser}/post?text={message}&amp;in_reply_to_status_id={replyId}</string>
		<key>followUser:</key>
		<string>tweetbot://{activeUser}/follow/{user}?</string>
		<key>unfollowUser:</key>
		<string>tweetbot://{activeUser}/unfollow/{user}?</string>
		<key>favoriteTweetWithId:</key>
		<string>tweetbot://{activeUser}/favorite/{tweetId}?</string>
		<key>unfavoriteTweetWithId:</key>
		<string>tweetbot://{activeUser}/unfavorite/{tweetId}?</string>
		<key>retweetTweetWithId:</key>
		<string>tweetbot://{activeUser}/retweet/{tweetId}?</string>
	</dict>
    <key>fallbackUrls</key>
    <dict>
        <key>showUserWithScreenName:</key>
        <string>https://twitter.com/intent/user?screen_name={screenName}</string>
        <key>showUserWithId:</key>
        <string>https://twitter.com/intent/user?user_id={userId}</string>
        <key>showTimeline</key>
        <string>http://twitter.com</string>
        <key>showMentions</key>
        <string>https://twitter.com/i/connect</string>
        <key>showDirectMessages</key>
        <string>https://twitter.com/i/connect</string>
        <key>searchFor:</key>
        <string>https://twitter.com/search?q={query}</string>
        <key>tweetMessage:</key>
        <string>https://twitter.com/intent/tweet?text={message}</string>
        <key>tweetMessage:inReplyTo:</key>
        <string>https://twitter.com/intent/tweet?text={message}&amp;in_reply_to={replyId}</string>
        <key>favoriteTweetWithId:</key>
        <string>https://twitter.com/intent/favorite?tweet_id={tweetId}</string>
        <key>retweetTweetWithId:</key>
        <string>https://twitter.com/intent/retweet?tweet_id={tweetId}?</string>
    </dict>
</dict>
</plist>
